.iconWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 98px;
  border-radius: 24px;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}
.technologyName {
  width: max-content;
  height: 100%;
  font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b2f3f;
  margin-left: 1rem;
}

/* slick dots */
.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.button__bar li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  outline: none;
  background: #d1dae7;
  border-radius: 10px;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
  outline: none;
  margin: 5px;
}

.button__bar li.slick-active button {
  background-color: white;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}

.button__bar :global(li.slick-active) button {
  background: #9b2f9b;
}
.actionButtonMobile {
  margin-top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .iconWrapper {
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
  }
  .technologyName {
    font-size: 16px;
    color: #9b2f9b;
  }
}
