.container {
    width: 40%;
    height: max-content;
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 5%;
    left: 5%;
    right: 0;
    margin-top: auto;
    margin-bottom: 7%;
    margin-left: 5%;
    margin-right: auto;
    padding: 0%;

}

.heading {
    width: 65%;
    height: 134px;
    left: 150px;
    top: 316px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    color: #1B2F3F;
}

.description {
    width: 90%;
    height: 210px;
    left: 150px;
    top: 477px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */


    /* Dark Secondary */

    color: #405261;
}

@media screen and (max-width: 1500px) {
    .heading {
        width: 80%;
    }

    .container {
        margin-bottom: 6%;
    }
}

@media screen and (max-width: 1300px) {
    .container {
        margin-bottom: 7%;
    }
}

@media screen and (max-width: 1200px) {
    .heading {
        width: 100%;
    }

    .container {
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        width: 50%;
        margin-bottom: 9%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        margin-bottom: 13%;
    }
}

@media screen and (max-width: 800px) {
    .container {
        margin-bottom: 14%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-top: 120px;
        position: relative;
        padding: 0;
        margin-bottom: 15px;
    }

    .heading {
        width: 100%;
        height: max-content;
        font-family: SF Pro Display;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
    }

    .description {

        height: max-content;
        width: 100%;
        font-family: SF Pro Display;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;

    }
}