.pageNumber {
    position: absolute;
    width: 164px;
    height: 153px;
    left: 5%;
    right: 0;
    margin-left: 5%;
    margin-right: auto;
    top: 20%;
    bottom: 0;
    margin-bottom: auto;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 153px;
    color: #9B2F9B;
    opacity: 0.1;
}

@media screen and (max-width: 900px) {
    .pageNumber {
        top: 5%;
        margin-top: 5%;
        bottom: 0%;
        font-family: SF Pro Display;
        font-size: 128px;
        font-weight: 700;
        line-height: 153px;
        letter-spacing: 0px;
        text-align: left;

    }
}