.galleryWrapper {
  margin-bottom: 6%;
}
.textWrapper {
  margin: 0% 10%;
  overflow: hidden;
  position: relative;
}
.title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #9b2f9b;
}
.heading {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  text-transform: capitalize;
  color: #1b2f3f;
  margin: 1rem 0rem 3rem;
}
.dots {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
.gridcontainer {
  display: grid;
  grid-template-columns: repeat(109, 1fr);
  grid-template-rows: repeat(14, 1fr) 100px 1fr max-content;
  gap: 10px;
  background-color: #fff;
  max-height: 55vh;
}
.griditem {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  overflow: hidden;
}

.item1 {
  grid-column: 1 / span 19;
  grid-row: 1 / -1;
}
.item2 {
  grid-column: 20 / span 24;
  grid-row: 1 / span 8;
}
.item3 {
  grid-column: 44 / span 24;
  grid-row: 1 / span 10;
}
.item4 {
  grid-column: 68 / span 24;
  grid-row: 1 / span 9;
}
.item5 {
  grid-column: 92 / span 18;
  grid-row: 1 / span 10;
}
.item6 {
  grid-column: 20 / span 24;
  grid-row: 9 / -1;
}
.item7 {
  grid-column: 44 / span 24;
  grid-row: 11 / -1;
}
.item8 {
  grid-column: 68 / span 24;
  grid-row: 10 / -1;
}
.item9 {
  grid-column: 92 / span 18;
  grid-row: 11 / -1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.images:hover {
  transform: scale(1.5);
}

@media (max-width: 900px) {
  .textWrapper {
    margin-left: 6.66%;
  }
  .heading {
    margin: 1rem 0rem 2rem;
    line-height: 32px;
  }
  .dots {
    display: none;
  }
  .gridcontainer {
    grid-template-columns: 25% 44% 31%;
    grid-template-rows: 25% 25% 27% 21%;
    max-height: 70vh;
  }
  .item1 {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  .item2 {
    grid-column: 2;
    grid-row: 1;
  }
  .item3 {
    grid-column: 2;
    grid-row: 2;
  }
  .item4 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
  .item5 {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .item6 {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .item7 {
    grid-column: 3;
    grid-row: 3 / span 2;
  }
  .item8 {
    display: none;
  }
  .item9 {
    display: none;
  }
}
